@if (User.Identity.IsAuthenticated)
{
    <text>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="container-right">
                @User.Identity.Name, <a class="log-but" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
            </div>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

