@using PieVerse.Web.Models
@model PieVerse.Web.Models.PieverseViewModel

@{
    ViewBag.WriteStyle = "active";
}

<div class="line-container">
    @Html.Partial("_addFirstLine", new FirstLineViewModel())
</div>

<div class="pieverse-container">
    @Html.Partial("_addPieverse", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
