@using PieVerse.Web.Models
@model PieVerse.Web.Models.PieverseViewModel

@{
    ViewBag.WriteStyle = "active";
}

<div class = "container-left">
    <div class="sortContainer">
        <ul class="nav nav-pills sort">
            <li class="active"><a data-toggle="pill" href="#menu2">пирожок</a></li>
            <li class=""><a data-toggle="pill" href="#menu1">первая строка</a></li>
        </ul>
    </div>
</div>

<div class = "container-right">
    @Html.Partial("_LoginPartial") 
</div>

<div id="menu1" class="line-container tab-pane fade">
    @Html.Partial("_addFirstLine", new FirstLineViewModel())
</div>

<div id="menu2" class="pieverse-container tab-pane fade active in">
    @Html.Partial("_addPieverse", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}