@model IEnumerable<PieVerse.Web.Models.PieverseViewModel>

@{
    ViewBag.Title = "Feed";
}

<h2>Feed</h2>

<p>
    @Html.ActionLink("Create New", "add", "Pieverse")
</p>
<table>
@foreach (var item in Model) {
    <tr>
        <td>
            <div class="pieverse">
                @Html.DisplayFor(modelItem => item.FirstLine.Body)
                @Html.DisplayFor(modelItem => item.Body)
            </div>
        </td>
    </tr>
}
</table>
