@model IEnumerable<PieVerse.Web.Models.PieverseViewModel>

@* Rud's kostyl' begin *@
@{
    ViewBag.ReadStyle = "active";
}
@* Rud's kostyl' end *@

<div class="sortContainer">
    <div class="sort">
        <a class="new active">Новые</a>
        <a class="popular">Популярные</a>
    </div>
</div>

@for (var i = 0; i < Model.Count(); i++)
{
    var pieverseColorClass = i % 2 == 0 ? "b" : "w";
    <div class="pieverseContainer @pieverseColorClass">
        <div class="pieverse">
            <p class="text">@Model.ElementAt(i).FirstLine.Body
                @Model.ElementAt(i).Body
            </p><a class="writeThis"></a><a class="like"></a>
        </div>
    </div>
}


